.AppLayout {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.NavigationBarBox {
    height: 100vh;
}

.MainAppView {
    width: 100%;
    height: 100%;
}

.MainAppContent {
    width: 90%;
    height: 100%;
    background-color: pink;
    margin: auto;
}
