<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="regular-income-server.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="de.sky.regular.income.Server" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>